<section class="stats">
    <h1>OUR STATS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eaque porro obcaecati a <br> maiores provident itaque, exercitationem est enim odio!</p>
    <div class="stats_container">
        <div class="stat_1">
            <h2>123</h2>
            <P>Lorem ipsum dolor sit amet.</P>
        </div>
        <div class="stat_2">
            <h2>123</h2>
            <P>Lorem ipsum dolor sit amet.</P>
        </div>
        <div class="stat_3">
            <h2>123</h2>
            <P>Lorem ipsum dolor sit amet.</P>
        </div>
    </div>
</section>
