<section class="pricing">
    <h1>PRICING</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda  adipisci dolores perspiciatis <br> nostrum unde? Perspiciatis labore illo provident laudantium minus cumque eaque, quasi <br>  quia deserunt ipsum, vitae suscipit consequuntur alias.</p>
    <div class="pricing_container">
        <div class="newbie_pricing">
            <h2>NEWBIE CLASS</h2>
            <P>{{ 00.00 | currency:'USD':true}}</P>
            <img src="../../assets/Pricing Icon.png" alt="Pricing Icon">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <button>Register Now</button>
        </div>
        <div class="expert_pricing">
            <h2>NEWBIE CLASS</h2>
            <P>{{ 00.00 | currency:'USD':true}}</P>
            <img src="../../assets/Pricing Icon.png" alt="Pricing Icon">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <button>Register Now</button>
        </div>
        <div class="advanced_pricing">
            <h2>NEWBIE CLASS</h2>
            <P>{{ 00.00 | currency:'USD':true}}</P>
            <img src="../../assets/Pricing Icon.png" alt="Pricing Icon">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <button>Register Now</button>
        </div>
    </div>
</section>