.pricing{
    width: 100%;
    height: 90vh;
    background-color: #6c9894;
    text-align: center;
    padding-top: 10vh;
    color: #f4f9f4;
    position: relative;
}
.pricing h1{
    font-size: 3rem;
    letter-spacing: 3px;
}
.pricing p{
    font-size: 1.1rem;
}
.pricing_container{
    width: 70%;
    height: 60%;
    margin: 3vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 5rem;
}
.newbie_pricing, .expert_pricing, .advanced_pricing{
    background-color: #f4f9f4;
    position: relative;
    border-radius: 5px;
    color: #6c9894;
    padding: 1em;
    transform: rotateY(90deg);
    transform-origin: center;
    animation: rotatecard 0.8s ease forwards;
}
.expert_pricing{
    animation-delay: 0.5s;
}
.advanced_pricing{
    animation-delay: 1s;
}
@keyframes rotatecard {
    from{
        transform: rotateY(-90deg);  
    }
    to{
        transform: rotateY(0deg);
    }
}
.newbie_pricing img, .expert_pricing img, .advanced_pricing img{
    margin-block: 1em;
}
.newbie_pricing button, .expert_pricing button, .advanced_pricing button{
    outline: none;
    border: none;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: #f4f9f4;
    font-weight: 700;
    background-color: #6c9894;
    display: inline-block;
    margin-top: 1em;
}