<!-- <app-header></app-header> -->
<nav>
  <img src="../../assets/Logo.png" alt="" class="logo">
  <ul>
      <li><a routerLink="" class="">HOME</a></li>
      <li><a routerLink="levels">LEVELS</a></li>
      <li><a routerLink="stats">STATS</a></li>
      <li><a routerLink="pricing">PRICING</a></li>
      <li><a routerLink="footer" >CONTACT</a></li>
  </ul>
</nav>
<!-- <app-home></app-home>
<app-levels></app-levels>
<app-stats></app-stats>
<app-pricing></app-pricing>
<app-footer></app-footer> -->

<router-outlet></router-outlet>