<section id="levels">
    <h1>CHOOSE CLASS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora mollitia vero sequi <br> repudiandae esse, soluta magnam in dolore accusamus aperiam.</p>
    <div class="level_container">
        <div class="newbie">
            <div class="level_images">
                <img src="../../assets/Levels newbie.png" alt="" class="newbie_img">
                <img src="../../assets/Levels design.png" alt="" class="levels_design">
            </div>
            <h3>NEWBIE CLASS</h3>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Eligendi natus iusto odit?</small>
        </div>
        <div class="expert">
            <div class="level_images">
                <img src="../../assets/Levels expert.png" alt="" class="expert_img">
                <img src="../../assets/Levels design.png" alt="" class="levels_design">
            </div>
            <h3>NEWBIE CLASS</h3>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Eligendi natus iusto odit?</small>
        </div>
        <div class="advanced">
            <div class="level_images">
                <img src="../../assets/Levels advanced.png" alt="" class="advance_img">
                <img src="../../assets/Levels design.png" alt="" class="levels_design">
            </div>
            <h3>NEWBIE CLASS</h3>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Eligendi natus iusto odit?</small>
        </div>
    </div>
</section>
